@model Sportcomplex.Models.Price

@{
    ViewData["Title"] = "Create";
}
<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Price</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Eight_work" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Eight_work" class="form-control" />
                <span asp-validation-for="Eight_work" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Eleven_work" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Eleven_work" class="form-control" />
                <span asp-validation-for="Eleven_work" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="For_work" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="For_work" class="form-control" />
                <span asp-validation-for="For_work" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NameOfSport" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NameOfSport" class="form-control" />
                <span asp-validation-for="NameOfSport" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="One_work" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="One_work" class="form-control" />
                <span asp-validation-for="One_work" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimeOfGym" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimeOfGym" class="form-control" />
                <span asp-validation-for="TimeOfGym" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
