@model Sportcomplex.Models.Contact

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Contact</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="x" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="x" class="form-control" />
                <span asp-validation-for="x" class="text-danger" />
            </div>
        </div>
        <div class="form-group" >
            <label asp-for="y" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="y" class="form-control" />
                <span asp-validation-for="y" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
